.undo::before {
  font-family: 'iconfont';
  content: "\e611";
}
.redo::before {
  font-family: "iconfont";
  content: "\e610";
}
.h1::before {
  font-family: "iconfont";
  content: "\e60b";
}
.h2::before {
  font-family: "iconfont";
  content: "\e60d";
}
.h3::before {
  font-family: "iconfont";
  content: "\e612";
}
.h4::before {
  font-family: "iconfont";
  content: "\e60a";
}
.h5::before {
  font-family: "iconfont";
  content: "\e60f";
}
.bold::before {
  font-family: "iconfont";
  content: "\e607";
}
.italic::before {
  font-family: "iconfont";
  content: "\e60c";
}
.ordered::before {
  font-family: "iconfont";
  content: "\e603";
}
.bullet::before {
  font-family: "iconfont";
  content: "\e608";
}
.left::before {
  font-family: "iconfont";
  content: "\e606";
}
.center::before {
  font-family: "iconfont";
  content: "\e605";
}
.right::before {
  font-family: "iconfont";
  content: "\e604";
}
.justify::before {
  font-family: "iconfont";
  content: "\e602";
}
.divide::before {
  font-family: 'iconfont';
  content: '\e601';
}
